<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
  <servlet>
    <display-name>IWRSSProducerServlet</display-name>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <servlet-class>com.idega.block.rss.servlet.IWRSSProducerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <url-pattern>/rss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <url-pattern>/rss/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <url-pattern>/rss/*</url-pattern>
  </servlet-mapping>

</web-app>