<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <display-name>IWRSSProducerServlet</display-name>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <servlet-class>com.idega.block.rss.servlet.IWRSSProducerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <url-pattern>/rss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <url-pattern>/rss/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IWRSSProducerServlet</servlet-name>
    <url-pattern>/rss/*</url-pattern>
  </servlet-mapping>

</web-app>
