/* RSSViewer styles */

div.rss {
	width: auto;
	height: auto;
}

div.rss div.rssItem {
	padding-bottom: 6px;
}

div.rss div.rssItem a, div.rss div.rssItem a:hover {
	font-size: 11px;
	font-weight: normal;
}

div.rss div.rssItem div.rssItemPublishedDate {
	font-size: 9px;
	font-weight: normal;
}

div.rss div.rssItem div.rssItemDescription {
	font-size: 9px;
	font-weight: normal;
}

/*RSSTicker styles*/
.rssTicker{
	color: #E0E4E8; 
    position:absolute;
  	left:69px;
    width: 280;
    height:100%;
    overflow:hidden;
	#background-color: #27445C;
	#background-color: #1F394F;
	border-left: 1px solid #112E43;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=80); /*Specify fade effect in IE. Remove if desired.*/
	-moz-opacity: 0.8; /*Specify fade effect in Firefox. Remove if desired.*/
}

.rssTicker a{
	text-decoration: none;
	color: #E0E4E8; 
}

.rsstitle{ /*shared class for all title elements in an RSS feed*/
	position:absolute;
 	left:5px;
	top: 4px;
	font-size: 14px;
	#border: 1px solid white;
	overflow:hidden;
	width:186px;
	height:28px;
	font-weight: bold;
	line-height: 13px;
}

.rssdate{ /*shared class for all date elements in an RSS feed*/
	font-size: 14px;
	overflow:hidden;
	width:70px;
	height:14px;
	font-weight: bold;
 	position:absolute;
 	right:15px;
	top:4px;
	#border: 1px solid white;
}

.rssdescription{ /*shared class for all description elements in an RSS feed*/
    font-size: 13px;
     position:absolute;
     top:32px;
	left:5px;
	#border: 1px solid white;
	width:273;
	height:40px;
	overflow:hidden;
	line-height: 12px;
}